.btn {
    gap: var(--space-2);
    display: inline-flex;
    align-items: baseline;
    justify-content: center;

    padding: var(--space-2) var(--space-8);
    font-size: var(--fs-300);

    cursor: pointer;
    text-decoration: none;

    border: var(--border-light);
    border-radius: var(--radius-full);
    background-color: var(--color-gray-000);

    &:hover,
    &:focus-visible {
        background-color: var(--color-gray-010);
    }

    &:active {
        color: var(--color-gray-000);
        box-shadow: var(--shadow-light);
        border-color: var(--color-primary);
        background-color: var(--color-primary);
    }

    &:focus-visible {
        outline-offset: 2px;
        outline: 2px solid var(--color-primary);
    }
}


.btn--primary {
    color: var(--color-gray-000);
    border-color: var(--color-gray-090);
    background-color: var(--color-gray-090);

    &:is(:hover, :focus-visible):not(:active) {
        background-color: var(--color-gray-100);
    }
}

.btn--icon {
    width: var(--space-10);
    height: var(--space-10);
    padding: 0;
    flex-shrink: 0;
    align-items: center;
    border-radius: var(--radius-full);
}

.btn--ghost {
    border-color: transparent;
    background-color: transparent;
}


.btn:disabled,
.btn--disabled {
    opacity: 0.6;
    cursor: not-allowed;
}