.card {
    border: var(--border-light);
    /* display: flex; */
    padding: var(--space-2) var(--space-4);
    /* flex-direction: column; */
    border-radius: var(--radius-sm);
}

.card--shadow {
    border: none;
    box-shadow: var(--shadow-light);
}

.card--clickable {
    cursor: pointer;

    &:hover,
    &:focus-visible {
        border-color: var(--color-gray-100);
    }

    &:active {
        outline: 1px solid var(--color-gray-100);
        /* box-shadow: inset 0 0 0 1px var(--color-gray-100); */
        border-color: var(--color-gray-100);
    }

    &:focus-visible {
        outline-offset: 2px;
        outline: 2px solid var(--color-primary);
    }
}