.contextmenu {
    border: var(--border-light);
    min-width: 14em;
    font-size: var(--fs-200);
    box-shadow: var(--shadow-light);
    border-color: light-dark(transparent, var(--color-gray-005));
    border-radius: var(--radius-sm);
    padding-block: var(--space-2);
    flex-direction: column;

    position-try: flip-block, flip-inline;
    position-area: bottom span-right;

    &:popover-open {
        display: flex;
    }

    hr {
        margin-block: var(--space-2);
        border-color: var(--color-gray-005);
    }
}

.menuitem {
    gap: var(--space-4);
    color: var(--color-gray-060);
    cursor: pointer;
    display: flex;
    padding: var(--space-2) var(--space-4);
    align-items: center;

    &:hover,
    &:focus-visible {
        color: unset;
        background-color: var(--color-gray-005);
    }
}