:where(.flex, .flex-row, .flex-col) {
    gap: var(--space-1);
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex--center {
    align-items: center;
    justify-content: center;
}

.items-center {
    align-items: center;
}