.flex,
.flex-row,
.flex-col{
    gap: var(--space-1);
    display: flex;
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.flex--center {
    align-items: center;
    justify-content: center;
}