name: Production Build

on:
  push:
    branches: [ main ]
    paths:
      - 'src/**'

permissions:
  contents: write

jobs:
  bundle-and-minify:
    name: Bundle & Minify CSS
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'
          cache-dependency-path: '.github/workflows/*.yml'

      - name: Generate Distribution Files
        run: |
          mkdir -p dist
          npx esbuild src/main.css --bundle --outfile=dist/align.css
          npx esbuild src/main.css --bundle --minify --outfile=dist/align.min.css

      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "build: auto-bundle and minify [skip ci]"
          file_pattern: 'dist/*'
